In [1]:
import pandas as pd

In [29]:
train = pd.read_csv('dataset/train.csv')

In [32]:
train

     Unnamed: 0     Image         target
0           0.0    96.jpg       manipuri
1           1.0   163.jpg  bharatanatyam
2           2.0   450.jpg         odissi
3           3.0   219.jpg      kathakali
4           4.0   455.jpg         odissi
..          ...       ...            ...
552         NaN  788.jpeg   mohiniyattam
553         NaN  789.jpeg   mohiniyattam
554         NaN  790.jpeg   mohiniyattam
555         NaN  791.jpeg   mohiniyattam
556         NaN  792.jpeg   mohiniyattam

[557 rows x 3 columns]

In [31]:
for f in range(770,793):
    train = train.append({'Image':str(f)+'.jpeg','target':'mohiniyattam'},ignore_index=True)

In [33]:
train.to_csv('dataset/train.csv')